@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Rock+3D&family=Zilla+Slab+Highlight&display=swap');

.ContactPage {
    background : #282828;
    height : 100vh;
    
}
.ContactPage-center {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    color : white;
    flex-direction: column;
    align-items: center;
}
.ContactPage-header{
    z-index : 5;
}
.ContactPage-largeText {
    font-family: 'Questrial', sans-serif;
    font-size: 80px;
    user-select : none;
    position: absolute;
    top: 20vh;
    padding-bottom : 20vh;
    z-index : 5;
}
.ContactPage-smallText {
    font-family: 'Questrial', sans-serif;
    font-size : 30px;
    padding-bottom : 1vh;
    z-index : 5;
}
.ContactPage-button {
    color : transparent;
}
.ContactPage-button:hover {
    font-family : 'Antic Didone';
    font-size: 25px;
    border-radius : 10px;
    border-color : #c8d7e6;
    color: grey;
}
.ContactPage-link {
    text-decoration: inherit;
    color : black;
}
.ContactPage-socialContainer {
    width : 45vw;
    flex-direction: row;
    display : flex;
    justify-content: center;
    z-index : 2;
}
.ContactPage-github {
    color : gray;
}
.ContactPage-linkedIn {
    color : #0072b1 ;
}
.ContactPage-google {
    color :#F4B400
}
.ContactPage-socialDiv{
    flex : 1;
}
.ContactPage-socialDiv:hover{
    font-size : 20px;
    cursor: pointer;
}
.ContactPage-PvE{
    z-index : 1;
    position:absolute;
    bottom : 0vh;
}