@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Rock+3D&display=swap');


.Header {
    background : #282828;
    display : flex;
    flex-direction : row;
    padding : 0;
    height: 12vh;
    align-items: center;
    padding-top: 15px;
}
.Header-elements {
    flex: 1;
    font-family : 'Antic Didone';
    text-decoration: inherit;
    color: white;
    font-size: 25px;
}
.Header-elements:hover {
    color: gray;
}
.Header-name {
    flex: 8;
    font-family : 'Rock 3D';
    font-size: 50px;
    color : white;
    user-select : none;
    text-decoration: inherit;
}
.Header-name:hover {
    color: gray;
}
.Header-blank {
    flex : 1;
}