@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Rock+3D&family=Zilla+Slab+Highlight&display=swap');

.MainPage {
    background : #282828;
    height : 100vh;
}
.MainPage-center {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    color : white;
    flex-direction: column;
    align-items: left;
    padding-bottom : 10vw;
}
.MainPage-textContainer {
    justify-content : left;
}
.MainPage-largeText {
    font-family: 'Fredericka the Great', cursive;
    font-size: 85px;
    user-select : none;
}
.MainPage-smallText {
    font-family : 'Antic Didone';
    padding-bottom : 4vh;
    font-size : 20px;
}
.MainPage-button {
    font-family : 'Antic Didone';
    font-size: 25px;
    border-radius : 10px;
    border-color : white;
    color: black;
}
.MainPage-button:hover {
    font-family : 'Antic Didone';
    font-size: 25px;
    border-radius : 10px;
    border-color : #c8d7e6;
    color: grey;
}
.MainPage-link {
    text-decoration: inherit;
    color : black;
}
.MainPage-loading{
    height : 100%;
    width : 100%;
    background : #282828;
    z-index: 7;
    position : absolute;
}
.MainPage-loadingIcon{
    position: absolute;
    left: 45vw;
    top : 45vh;
}
.MainPage-wrapper {
    animation: scroll 90s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }
  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    .MainPage-wrapper {
      animation: scroll 200s linear infinite;
    }
  }
