.PopUp-button {
    display:block;
    width:80px;
    height:80px;
    line-height:80px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #555777;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.PopUp-button:hover {
    background: #777555;
}
.PopUp-icon{
    color : gray;
}
.PopUp-icon:hover{
    cursor : pointer;
    color : lightgray;
}
.PopUp-gatorCronch{
    height: 175px;
    width: 200px;
    background: url("../photos/cronchSmall.png") 0px 0px;
    animation: play 1.8s steps(8) infinite;
}
@keyframes play {
    100% {
        background-position: -1805px;
    }
}
.PopUp-gatorSwipe{
    height: 200px;
    width: 200px;
    background: url("../photos/swipeSmall.png") 0px 0px;
    animation: play 1s steps(4) infinite;
}
@keyframes play {
    100% {
        background-position: -1805px;
    }
}
