.ProjectPage {
    background : #282828;
    padding-bottom : 5vh;
    height : 100vh;
}
.ProjectPage-button {
    display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid red;
}