@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Bungee+Inline&family=Fredericka+the+Great&family=Monofett&family=Open+Sans:wght@300;400;800&family=Questrial&family=Raleway&family=Roboto&family=Rock+3D&family=Zilla+Slab+Highlight&display=swap');
.ProjectPage {
    background-color: #282828;
    padding-bottom : 5vh;
}
.ProjectPage-container {
    padding-top: 10vh;
    position: relative;
    color: white;
    left: 18vw;
    width: 60vw;
}
.ProjectPage-title {
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 600;
}
.ProjectPage-textContainer {
    width: 50vw;
}  
.ProjectPage-projectName {
    font-family : 'Raleway';
    font-size: 30px;
    font-weight : 600;
    padding-right : 1vw;
}
.ProjectPage-paragraph {
    font-family: 'Roboto';
    font-size: 18px;
    padding-bottom: 2vh;
}
.ProjectPage-demos {
    height: 60vh;
    flex: 1;
}
.ProjectPage-demos:hover {
    cursor: pointer;
}
.ProjectPage-smallHeader{
    font-family : 'Raleway';
    font-size: 22px;
    font-weight : 600;
    padding-bottom: 1vh;
}
.ProjectPage-socials{
    cursor:default
}
.ProjectPage-socials:hover{
    cursor:pointer;
}
.ProjectPage-gator{
    height: 400px;
    width: 400px;
    background: url("../photos/walkv4.png") 0px 0px;
    animation: play 1.5s steps(8) infinite;
}
@keyframes play {
    100% {
        background-position: -3200px;
    }
}
.ProjectPage-gatorInvert {
    height: 400px;
    width: 400px;
    background: url("../photos/walkmirrorinverted.png") 0px 0px;
    animation: play 1.5s steps(8) infinite;
}
@keyframes play {
    100% {
        background-position: -3200px;
    }
}
.ProjectPage-button-74 {
    background-color: #fbeee0;
    border: 2px solid #fbeee0;
    border-radius: 30px;
    box-shadow: gray 4px 4px 0 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    padding: 0 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 1vw;
  }
  
  .ProjectPage-button-74:hover {
    background-color: #fff;
  }
  
  .ProjectPage-button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .ProjectPage-button-74 {
      min-width: 60px;
      padding: 0 25px;
    }
  }
  .ProjectPage-devPost{
    position: absolute
  }
  .ProjectPage-devPost:hover {
      cursor: pointer;
  }